.logo {
    height: 44px;
}
.header {
    /* display: flex;
    justify-content: center; */
    background-color: transparent !important
}

/* 
.header-nav{
    display: flex;
  justify-content: space-between;
  list-style: none;
  
} */
/* .navbar-nav{
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
} */
.header .container {
    
    display: flex;
  /* justify-content: space-between; */
  flex-direction: row;
}
li a {
    text-decoration:none;
}
li {
    list-style: none;
}
.header-nav li  a {
    text-decoration:none;
    color: snow !important;
}
.navbar-collapse {
    width: 40%;
}
/* @media (min-width: 1200px) {
     .container {
    width: 80%;
    }
} */
.mainSectionBg {
    background-image: url(../Content/images/homepage-womanday2.jpg);

}
.mainSectionBg {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-section-part {
    padding-top: 40px;
    display: flex;
    justify-content: center;
}
.main-section-part .container {
    display: flex;
    flex-direction: row;

}
.main-section-part .container  {
    color: snow;
    align-items: baseline;
}
.main-section-part .container h1 {
    font-size: 51px;
    font-family: DejaVuSans;
    margin-bottom: 0px;
}
.main-section-part .container h2 {
    color: #ffd503;
    font-size: 37px;
    font-family: DejaVuSansBold;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.commertial-points ul {
    padding-left: 0px;
}
.commertial-points ul li {
    font-family: WeblySleekUISemiBold;
    font-size: 17px;
    color: #fff;
    margin-bottom: 10px;
    padding-left: 5px;
    width: 100%;
    display: flex;
}
.navbar-default {
    background-image: none;
    border : transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.commertial-points ul li i {
    margin-right: 30px;
    color: #ffd503;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    width: 100%;
}

.login-btn a {
    color: #ffd503!important;
    border: 2px solid #ffd503!important;
}
.advantages {
    background-color: #f2f2f3;
    padding: 60px 0 50px;
}
.advantages .heading h2 {
    font-size: 37px;
    font-family: "DejaVuSans"!important;
    color: #333;
    margin: 0 0 55px 0;
    display: block;
    line-height: 40px;
    letter-spacing: 1px;
}
.adv-points {
    display: flex;
    flex-direction: row;
}
.adv-points .adv-point {
    text-align: center;
    /* width: 30%;
    float: left;
    text-align: center;
    display: inline-block;
    margin-right: 5%;
    padding: 0 20px; */
}
.adv-points .adv-point p {
    font-family: WeblySleekUISemiBold;
    font-size: 17px;
    letter-spacing: .5px;
}
.adv-points .adv-point h2 {
    font-size: 30px;
    font-family: DejaVuSansBold;
    color: #333;
    margin: 0 0 25px 0;
}
.adv-points .adv-point img {
    margin-bottom: 60px;
    max-height: 114px;
}

.money-month {
    padding: 25px 30px;
    background-color: #fff;

}
.money-month .item h2 {
    font-family: WeblySleekUISemiBold;
    font-size: 21px;
    color: #333;
    float: left;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-left: 5px;
}

.money-month .item .text-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
}
.money-month .item .text-section div  {
    border: 1px solid #cbcbcb;
    display: flex;
    flex-direction: row;

}
.money-month .item .text-section div div {
    display: flex;
    flex-direction: column;
    margin: 0px;

}
.money-month .item .text-section div div p {

    margin: 0px;
    background-color: #cbcbcb; 
    text-align: center;
}
.money-month .item {
    margin-bottom: 20px;
}
.calculator {
    background-color: #fff;
    margin-bottom: 50px;
    width: 40%;
    margin-left: 30%;
}
.loan_details {
    background-color: #ffd503;
    padding: 10px 30px 20px;
    display: flex;
    flex-direction: column;
}
.loan_details .item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    clear: both;
    border-bottom: 1px solid #9f8d17;
    padding: 8px 0;
    font-size: 16px;
    font-family: "WeblySleekUISemiLight";
    color: #333;
    margin: 0;
}
.loan_details .item h3 {
    width: 85%;
    font-size: 16px;
    font-family: "WeblySleekUISemiLight";
    color: #333;
    margin: 0;
}

.loan_details .item .price {
    margin: auto;
    font-size: 16px;
    width: 15%;
}

.loan_details button {
    display: block;
    padding: 15px 10px;
    background-color: #00b2d7;
    font-size: 21px;
    font-family: DejaVuSans;
    color: #fff;
    height: 48px;
    line-height: 10px;
    min-width: 145px;
    width: auto!important;
    border: transparent!important;
    margin-bottom: 0;
    margin-top: 20px;
    float: left;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
    text-align: center!important;
    cursor: pointer;
}
.loan_details a {
    font-size: 16px;
    font-family: WeblySleekUISemiBold;
    text-decoration: underline;
    margin: auto;
    color: #333;
    display: block;
    clear: both;
    text-align: center;
}
.loan_details p {
    font-size: 13px;
    font-family: WeblySleekUISemiBold;
    color: rgba(51,51,51,.502);
}

.how_to_apply {
    background-color: #ffd503;
    padding: 25px 0 40px;
}
.how_to_apply_content p {
    margin: 0;
    font-size: 19px;
    font-family: WeblySleekUISemibold;
    padding-left: 30px;
    color: #333;
    line-height: 23px;
}
.how_to_apply_content{
    display: flex;
}
.how_to_apply_content p strong {
    color: #c50046;
}
strong {
    font-weight: 700;
}
.continue-btn {
    background-image: url(./../Content/images/man-laptop.jpeg);
    background-repeat: no-repeat;
    padding: 260px 0 85px;
    text-align: center;
    background-position: 20%;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.continue-btn div  button{
    float: none;
    background-color: #00b2d7;
    margin-top: 45px;
    display: inline-block;
    width: 315px!important;
}
.continue-btn div h2 {
    font-family: DejaVuSans;
    color: #fff;
    text-align: center;
    font-size: 47.5px;
    margin: 0;
    line-height: 55px;
}
.continue-btn-general {
    display: block;
    padding: 15px 10px;
    background-color: #00b2d7;
    font-size: 21px;
    font-family: DejaVuSans;
    color: #fff;
    height: 48px;
    line-height: 10px;
    min-width: 145px;
    width: auto!important;
    border: transparent!important;
    margin-bottom: 0;
    margin-top: 20px;
    float: left;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
    text-align: center!important;
    cursor: pointer;
}

.map_address {
    background-image: url(./../Content/images/map-address.jpeg);
    padding: 45px 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.map_address h2 {
    margin: 0 0 12px;
    color: #333;
    font-family: DejaVuSans!important;
    font-size: 39px!important;
}
.map_address_content {
    background-color: #fff;
    padding: 18px 30px;
    float: left;
    width: 470px;
    top: 24%;
    position: relative;
    box-shadow: 0 0 15px -1px rgba(0,0,0,.3);
    display: flex;
    /* flex-direction: row; */
}
.map_address_content img {
    width: 20%;
    margin: auto;
    margin-top: 0px;
}
.triangle {
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 45px solid #fff;
    filter: drop-shadow(7px 1px 2px rgba(0,0,0,.2));
    width: auto!important;
    right: -40px;
    top: 50%;
    padding: 0!important;
    float: none!important;
    margin-right: -75px;
    margin-top: 58px;
}
.map_address_content h2 {
    font-family: WeblySleekUISemiBold;
    font-size: 24px;
    margin: 0 0 12px;
    color: #333;
}
.map_address_content p {
    font-size: 17px;
    color: #333;
    margin-bottom: 16px;
}
.partners .container {
    display: flex;
    padding-bottom: 70px;
}
.partners .container .item {
    display: flex;
    margin-right: 18%;
}
.partners .container .item img {
    margin: auto;
    margin-top: 0px;
}
.partners .container .item h2{
    font-size: 24px;
    color: #333;
    font-family: WeblySleekUISemiBold;
    margin: 10px 0 30px;
}
 .what_is_kimbi {
    padding: 70px 0;
    background-color: #00b2d7;
    background-image: url(./../Content/images/sis-masis.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }
 .what_is_content {
     display: flex;
     flex-direction: row;
 }
 .what_is_content img {
     margin: auto
 }

 .what_is_kimbi .container h2 {
    font-family: DejaVuSansBold;
    font-size: 60px;
    margin: 0 auto 40px!important;
    color: #fff;
 }
 .what_is_content p {
    font-family: WeblySleekUISemiLight;
    font-size: 20px;
    color: #fff;
    margin-bottom: 40px;
    text-align: left;
 }
 .info_section .container {
    background-color: #fff;
    padding: 50px 0;
 }
 .info_section .container .item {
    margin-bottom: 23px;
 }

 .info_section .container .item h2 {
    font-size: 16px;
    font-family: WeblySleekUISemiBold;
    color: #333;
    margin: 0 0 23px 0;
 }
 .info_section .container .item p {
    font-size: 16px;
    font-family: WeblySleekUISemiLight;
    color: #333;
    margin-bottom: 0;
 }

 .home_footer {
    background-color: #303030;
    color: #8a8a8a;
    padding: 40px 0 0;
 }
 .home_footer .container {
     display: flex;
     flex-direction: row;
     justify-content: space-between
 }
 .home_footer .container .item .separator {
    height: 3px;
    background-color: #ffd503;
    width: 37px;
    margin: 26px 0 29px -19px;
 }
 .home_footer .container .item h2 {
    font-size: 20px;
    font-family: "WeblySleekUISemiBold";
    color: #fff;
    text-transform: uppercase;
    line-height: 24px;
    letter-spacing: 1.3px;
    margin: 0;
 }

 .home_footer p {
    font-size: 19px;
    font-family: "WeblySleekUISemilight";
    color: #a2a2a2;
    margin: auto;
    text-align: left;
    word-break: break-word;
    padding-bottom: 5px;
 }
 .home_footer p span {
    color: #fff;
    font-size: 25px;
    margin-right: 15px;
    display: inline-block;
 }