.logo {
    height: 44px;
}
.header {
    /* display: flex;
    justify-content: center; */
    background-color: transparent !important
}

/* 
.header-nav{
    display: flex;
  justify-content: space-between;
  list-style: none;
  
} */
/* .navbar-nav{
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
} */
.header .container {
    
    display: flex;
  /* justify-content: space-between; */
  flex-direction: row;
}
li a {
    text-decoration:none;
}
li {
    list-style: none;
}
.header-nav li  a {
    text-decoration:none;
    color: snow !important;
}
.navbar-collapse {
    width: 40%;
}
/* @media (min-width: 1200px) {
     .container {
    width: 80%;
    }
} */
.mainSectionBg {
    background-image: url(../Content/images/homepage-womanday2.jpg);

}
.mainSectionBg {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-section-part {
    padding-top: 40px;
    display: flex;
    justify-content: center;
}
.main-section-part .container {
    display: flex;
    flex-direction: row;

}
.main-section-part .container  {
    color: snow;
    align-items: baseline;
}
.main-section-part .container h1 {
    font-size: 51px;
    font-family: DejaVuSans;
    margin-bottom: 0px;
}
.main-section-part .container h2 {
    color: #ffd503;
    font-size: 37px;
    font-family: DejaVuSansBold;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.commertial-points ul {
    padding-left: 0px;
}
.commertial-points ul li {
    font-family: WeblySleekUISemiBold;
    font-size: 17px;
    color: #fff;
    margin-bottom: 10px;
    padding-left: 5px;
    width: 100%;
    display: flex;
}
.navbar-default {
    background-image: none;
    border : transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.commertial-points ul li i {
    margin-right: 30px;
    color: #ffd503;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    width: 100%;
}

.login-btn a {
    color: #ffd503!important;
    border: 2px solid #ffd503!important;
}
.advantages {
    background-color: #f2f2f3;
    padding: 60px 0 50px;
}
.adv-points {
    display: flex;
    flex-direction: row;
}

.money-month {
    padding: 25px 30px;
    background-color: #fff;

}
.money-month .item h2 {
    font-family: WeblySleekUISemiBold;
    font-size: 21px;
    color: #333;
    float: left;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-left: 5px;
}

.money-month .item .text-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
}
.money-month .item .text-section div  {
    border: 1px solid #cbcbcb;
    display: flex;
    flex-direction: row;

}
.money-month .item .text-section div div {
    display: flex;
    flex-direction: column;
    margin: 0px;

}
.money-month .item .text-section div div p {

    margin: 0px;
    background-color: #cbcbcb; 
    text-align: center;
}
.money-month .item {
    margin-bottom: 20px;
}
.calculator {
    background-color: #fff;
}
